* {
  box-sizing: border-box;
}

.main--page {
  font-family: "Inter";
  background: #1a1b21;
  border-radius: 10px;
  max-width: 50%;
  margin: auto;
}

.profile--photo {
  display: block;
  margin: auto;
  max-width: 40%;
  height: auto;
}

.profile--name {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.profile--job {
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
  color: #f3bf99;
}

.profile--website {
  font-weight: 400;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.about--title {
  font-weight: 700;
  color: #f5f5f5;
  padding: 5% 0% 0% 10%;
}

.about--info {
  font-weight: 400;
  color: #dcdcdc;
  padding: 0% 10%;
  max-width: 100%;
}

.interest--title {
  font-weight: 700;
  color: #f5f5f5;
  padding-left: 10%;
}

.interest--info {
  font-weight: 400;
  color: #dcdcdc;
  padding: 0% 0% 5% 10%;
  max-width: 100%;
}

.social--icons {
  display: flex;
  justify-content: center;
  background: #161619;
  padding: 3% 0;
  border-radius: 0px 0px 10px 10px;
}

.info--buttons {
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.email--button {
  margin-right: 5%;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-size: medium;
  color: #374151;
  border-radius: 6px;
  flex: 50%;
  cursor: pointer;
}

.linkedin--button {
  margin-left: 5%;
  border: none;
  color: #ffffff;
  padding: 15px;
  background: #5093e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-size: medium;
  border-radius: 6px;
  flex: 50%;
  cursor: pointer;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
  .info--buttons {
    flex-direction: column;
  }
  .email--button {
    margin: 0 0 1% 0;
  }
  .linkedin--button {
    margin: 1% 0 0 0;
  }
  .main--page {
    max-width: 100%;
  }
  .profile--photo {
    max-width: 70%;
  }
}
